@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --icon-size: 1.75rem;
  --sidebar-icon-size: 1.5rem;
  --profile-pic-size: 3rem;
  --sub-header-pic-size: 4.5rem;
  --bg-accent-blue: hsl(201, 79%, 46%);
  --bg-main-gray: hsl(214, 32%, 91%);
  --box-shadow: -1px 8px 5px -3px rgb(170, 170, 170);
  --text-desc: hsl(0, 0%, 39%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: grid;
  font-family: "Robot", sans-serif;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
  font-size: 1.25rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 100px 100px 1fr 1fr;
}

.sidebar {
  background-color: var(--bg-accent-blue);
  color: white;
  display: grid;
  row-gap: 2rem;
  padding-left: 1rem;
  grid-row: 1 / 5;
  grid-template-rows: inherit;
}
.sidebar-li {
  margin-bottom: 2rem;
  display: flex;
  font-weight: 700;
}
.sidebar-li:nth-last-child(3) {
  margin-top: 5rem;
}
.sidebar-icon {
  width: var(--sidebar-icon-size);
  margin-right: 1rem;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}
.logo > img {
  width: 4rem;
}

.header,
.sub-header {
  --flex-gap: 1rem;

  grid-column: 2 / 4;
  padding: 0 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--flex-gap);
}

.header > p {
  font-weight: 600;
}

#bell {
  margin-left: auto;
}
input {
  background-color: hsl(214, 32%, 91%);
  border: transparent;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  flex: 1;
  min-width: 10%;
  max-width: 55%;
}

.icon {
  width: var(--icon-size);
}

.profile-pic {
  width: var(--profile-pic-size);
  border-radius: 100vmax;
}

.sub-header {
  position: relative;
  box-shadow: var(--box-shadow);
}
.sub-profile-pic {
  width: var(--sub-header-pic-size);
  border-radius: 100vmax;
}
.sub-header > p {
  font-weight: 600;
}
.sub-header > p > span {
  font-weight: 800;
}

.sub-header > button:first-of-type {
  margin-left: auto;
}
.sub-header > button {
  background-color: var(--bg-accent-blue);
  color: white;
  border: transparent;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 1rem;
}

h3 {
  margin-bottom: 1rem;
}

.projects {
  padding: 2rem 1rem;
  background-color: var(--bg-main-gray);
  grid-row: 3 / 5;
}
.cards-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  position: relative;
  padding: 2.5rem 2rem;
}
.card::before {
  content: "";
  width: 10px;
  background-color: hsl(42, 87%, 55%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.card > p {
  color: var(--text-desc);
  margin-bottom: 4rem;
}
.actions {
  align-self: flex-end;
}
.actions > .icon {
  margin-left: 1rem;
}

.announcements {
  padding: 2rem 1rem;
  background-color: var(--bg-main-gray);
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}
.announcements-container {
  background-color: white;
  border-radius: 0.5rem;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: var(--box-shadow);
}
.announcement-name {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.announcement-desc {
  color: var(--text-desc);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

hr {
  border-color: var(--text-desc);
}

.trending {
  padding: 2rem 1rem;
  background-color: var(--bg-main-gray);
  grid-row: 4 / 5;
  grid-column: 3 / 4;
}
.trending-container {
  background-color: white;
  border-radius: 0.5rem;
  padding: 2.5rem 2rem;
  font-weight: 500;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.trending-profile {
  display: flex;
  gap: 1rem;
}
.trending-profile > img {
  border-radius: 100vmax;
  width: var(--profile-pic-size);
}
.profile-name {
  font-size: 1.2rem;
  color: var(--text-desc);
}
