:root {
  --icon-size: 1.75rem;
  --sidebar-icon-size: 1.5rem;
  --profile-pic-size: 4rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: grid;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
  font-size: 1.25rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100px 100px 400px 400px;
}

.sidebar {
  background-color: hsl(201, 79%, 46%);
  color: white;
  display: grid;
  padding-left: 1rem;
  grid-row: 1 / 5;
  grid-template-rows: inherit;
}
.sidebar-li {
  margin-bottom: 0.75rem;
  display: flex;
}
.sidebar-li:nth-last-child(3) {
  margin-top: 3rem;
}
.sidebar-icon {
  width: var(--sidebar-icon-size);
  margin-right: 0.75rem;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}
.logo > img {
  width: 30%;
}

.header,
.sub-header {
  padding: 1rem 2rem;
}

.header {
  --flex-gap: 1rem;

  display: flex;
  align-items: center;
  gap: var(--flex-gap);
}

.search-container {
  display: flex;
  align-items: center;
  gap: var(--flex-gap);
}

.header > .icon {
  margin-left: auto;
}

.search-container {
  flex: 1;
}

input {
  background-color: hsl(214, 32%, 91%);
  border: transparent;
  border-radius: 2rem;
  flex: 1;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.icon {
  width: var(--icon-size);
}

.profile-pic {
  width: var(--profile-pic-size);
  border-radius: 100vmax;
}

.sub-header {
  /* grid-row: 2 / 3; */
}
